<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from uxtheme.net/demos/jobcamp/candidate-profile-main.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Feb 2021 15:47:41 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Job Board & Directory Template</title>
    <link rel="shortcut icon" href="image/favicon.png" type="image/x-icon">
    <!-- Bootstrap , fonts & icons  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="fonts/icon-font/css/style.css">
    <link rel="stylesheet" href="fonts/typography-font/typo.css">
    <link rel="stylesheet" href="fonts/fontawesome-5/css/all.css">
    <!-- Plugin'stylesheets  -->
    <link rel="stylesheet" href="plugins/aos/aos.min.css">
    <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="plugins/nice-select/nice-select.min.css">
    <link rel="stylesheet" href="plugins/slick/slick.min.css">
    <link rel="stylesheet" href="plugins/ui-range-slider/jquery-ui.css">
    <!-- Vendor stylesheets  -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Custom stylesheet -->
</head>

<body>
<div class="site-wrapper overflow-hidden ">
    <!-- Header start  -->
    <!-- Header Area -->
    <header class="site-header site-header--menu-right bg-default position-fixed py-7 py-xs-0 site-header--absolute site-header--sticky">
        <div class="container">
            <nav class="navbar site-navbar offcanvas-active navbar-expand-lg  px-0 py-0">
                <!-- Brand Logo-->
                <div class="brand-logo">
                    <a href="index.html">
                        <!-- light version logo (logo must be black)-->
                        <img src="image/logo-main-black.png" alt="" class="light-version-logo default-logo">
                        <!-- Dark version logo (logo must be White)-->
                        <img src="image/logo-main-white.png" alt="" class="dark-version-logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="mobile-menu">
                    <div class="navbar-nav-wrapper">
                        <ul class="navbar-nav main-menu">
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown" href="#features" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home <i class="icon icon-small-down"></i></a>
                                <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li class="drop-menu-item">
                                        <a href="home-1.html">
                                            Homepage 01
                                        </a>
                                    </li>
                                    <li class="drop-menu-item">
                                        <a href="home-2.html">
                                            Homepage 02
                                        </a>
                                    </li>
                                    <li class="drop-menu-item">
                                        <a href="home-3.html">
                                            Homepage 03
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown2" href="#features" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages <i class="icon icon-small-down"></i></a>
                                <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
                                    <li class="drop-menu-item dropdown">
                                        <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown242" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Job Pages
                                            <i class="icon icon-small-down"></i>
                                        </a>
                                        <ul class="gr-menu-dropdown dropdown-menu dropdown-left" aria-labelledby="navbarDropdown242">
                                            <li class="drop-menu-item">
                                                <a href="search-grid.html">
                                                    Job Grid
                                                </a>
                                            </li>
                                            <li class="drop-menu-item">
                                                <a href="search-list-1.html">
                                                    Job List
                                                </a>
                                            </li>
                                            <li class="drop-menu-item">
                                                <a href="jobdetails.html">
                                                    Job Details
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="drop-menu-item dropdown">
                                        <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown21" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Dashboard
                                            <i class="icon icon-small-down"></i>
                                        </a>
                                        <ul class="gr-menu-dropdown dropdown-menu dropdown-left" aria-labelledby="navbarDropdown21">
                                            <li class="drop-menu-item">
                                                <a href="dashboard-main.html">
                                                    Dashboard Main
                                                </a>
                                            </li>
                                            <li class="drop-menu-item">
                                                <a href="dashboard-settings.html">
                                                    Settings
                                                </a>
                                            </li>
                                            <li class="drop-menu-item">
                                                <a href="dashboard-posted-applicants.html">
                                                    Applicants
                                                </a>
                                            </li>
                                            <li class="drop-menu-item">
                                                <a href="dashboard-posted-jobs.html">
                                                    Posted Jobs
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="drop-menu-item dropdown">
                                        <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown25g" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Candidate Pages
                                            <i class="icon icon-small-down"></i>
                                        </a>
                                        <ul class="gr-menu-dropdown dropdown-menu dropdown-left" aria-labelledby="navbarDropdown25g">
                                            <li class="drop-menu-item">
                                                <a href="candidate-profile-main.html">
                                                    Candidate Profile
                                                </a>
                                            </li>
                                            <li class="drop-menu-item">
                                                <a href="candidate-profile.html">
                                                    Candidate Profile 02
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="drop-menu-item dropdown">
                                        <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown242" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Search Pages
                                            <i class="icon icon-small-down"></i>
                                        </a>
                                        <ul class="gr-menu-dropdown dropdown-menu dropdown-left" aria-labelledby="navbarDropdown242">
                                            <li class="drop-menu-item">
                                                <a href="search-grid.html">
                                                    Search Grid
                                                </a>
                                            </li>
                                            <li class="drop-menu-item">
                                                <a href="search-list-1.html">
                                                    Search List 01
                                                </a>
                                            </li>
                                            <li class="drop-menu-item">
                                                <a href="search-list-2.html">
                                                    Search List 02
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="drop-menu-item">
                                        <a href="company-profile.html">
                                            Company Profile
                                        </a>
                                    </li>
                                    <li class="drop-menu-item dropdown">
                                        <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown242" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Account
                                            <i class="icon icon-small-down"></i>
                                        </a>
                                        <ul class="gr-menu-dropdown dropdown-menu dropdown-left" aria-labelledby="navbarDropdown242">
                                            <li class="drop-menu-item">
                                                <a href="javacript:" data-toggle="modal" data-target="#login">
                                                    Sign In
                                                </a>
                                            </li>
                                            <li class="drop-menu-item">
                                                <a href="javacript:" data-toggle="modal" data-target="#signup">
                                                    Sign Up
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="drop-menu-item dropdown">
                                        <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown26" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Essential
                                            <i class="icon icon-small-down"></i>
                                        </a>
                                        <ul class="gr-menu-dropdown dropdown-menu dropdown-left" aria-labelledby="navbarDropdown26">
                                            <li class="drop-menu-item">
                                                <a href="faq.html">
                                                    Faq
                                                </a>
                                            </li>
                                            <li class="drop-menu-item">
                                                <a href="error-404.html">
                                                    404
                                                </a>
                                            </li>
                                            <li class="drop-menu-item">
                                                <a href="pricing-page.html">
                                                    Pricing page
                                                </a>
                                            </li>
                                            <li class="drop-menu-item">
                                                <a href="contact.html">Contact</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                    <button class="d-block d-lg-none offcanvas-btn-close focus-reset" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true" aria-label="Toggle navigation">
                        <i class="gr-cross-icon"></i>
                    </button>
                </div>
                <div class="header-btn-devider ml-auto ml-lg-5 pl-2 d-none d-xs-flex align-items-center">
                    <div>
                        <a href="#" class="px-3 ml-7 font-size-7 notification-block flex-y-center position-relative">
                            <i class="fas fa-bell heading-default-color"></i>
                            <span class="font-size-3 count font-weight-semibold text-white bg-primary circle-24 border border-width-3 border border-white">3</span>
                        </a>
                    </div>
                    <div>
                        <div class="dropdown show-gr-dropdown py-5">
                            <a class="proile media ml-7 flex-y-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="circle-40">
                                    <img src="image/header-profile.png" alt="">
                                </div>
                                <i class="fas fa-chevron-down heading-default-color ml-6"></i>
                            </a>
                            <div class="dropdown-menu gr-menu-dropdown dropdown-right border-0 border-width-2 py-2 w-auto bg-default" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item py-2 font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="dashboard-settings.html">Settings </a>
                                <a class="dropdown-item py-2 font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="candidate-profile-main.html">Edit Profile</a>
                                <a class="dropdown-item py-2 text-red font-size-3 font-weight-semibold line-height-1p2 text-uppercase" href="#">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu Hamburger-->
                <button class="navbar-toggler btn-close-off-canvas  hamburger-icon border-0" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <!-- <i class="icon icon-simple-remove icon-close"></i> -->
                    <span class="hamburger hamburger--squeeze js-hamburger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
            </span>
                </button>
                <!--/.Mobile Menu Hamburger Ends-->
            </nav>
        </div>
    </header>
    <!-- navbar- -->
    <!-- Header end -->
    <!-- Login Modal -->
    <div class="modal fade form-modal" id="login" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog max-width-px-840 position-relative">
            <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper" data-dismiss="modal"><i class="fas fa-times"></i></button>
            <div class="login-modal-main bg-white rounded-8 overflow-hidden">
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-6">
                        <div class="pt-10 pb-6 pl-11 pr-12 bg-black-2 h-100 d-flex flex-column dark-mode-texts">
                            <div class="pb-9">
                                <h3 class="font-size-8 text-white line-height-reset pb-4 line-height-1p4">
                                    Welcome Back
                                </h3>
                                <p class="mb-0 font-size-4 text-white">Log in to continue your account
                                    and explore new jobs.</p>
                            </div>
                            <div class="border-top border-default-color-2 mt-auto">
                                <div class="d-flex mx-n9 pt-6 flex-xs-row flex-column">
                                    <div class="pt-5 px-9">
                                        <h3 class="font-size-7 text-white">
                                            295
                                        </h3>
                                        <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New jobs
                                            posted today</p>
                                    </div>
                                    <div class="pt-5 px-9">
                                        <h3 class="font-size-7 text-white">
                                            14
                                        </h3>
                                        <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New companies
                                            registered</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="bg-white-2 h-100 px-11 pt-11 pb-7">
                            <div class="row">
                                <div class="col-4 col-xs-12">
                                    <a href="#" class="font-size-4 font-weight-semibold position-relative text-white bg-allports h-px-48 flex-all-center w-100 px-6 rounded-5 mb-4"><i class="fab fa-linkedin pos-xs-abs-cl font-size-7 ml-xs-4"></i> <span class="d-none d-xs-block">Log in with LinkedIn</span></a>
                                </div>
                                <div class="col-4 col-xs-12">
                                    <a href="#" class="font-size-4 font-weight-semibold position-relative text-white bg-poppy h-px-48 flex-all-center w-100 px-6 rounded-5 mb-4"><i class="fab fa-google pos-xs-abs-cl font-size-7 ml-xs-4"></i> <span class="d-none d-xs-block">Log in with Google</span></a>
                                </div>
                                <div class="col-4 col-xs-12">
                                    <a href="#" class="font-size-4 font-weight-semibold position-relative text-white bg-marino h-px-48 flex-all-center w-100 px-6 rounded-5 mb-4"><i class="fab fa-facebook-square pos-xs-abs-cl font-size-7 ml-xs-4"></i> <span class="d-none d-xs-block">Log in with Facebook</span></a>
                                </div>
                            </div>
                            <div class="or-devider">
                                <span class="font-size-3 line-height-reset ">Or</span>
                            </div>
                            <form action="https://uxtheme.net/">
                                <div class="form-group">
                                    <label for="email" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">E-mail</label>
                                    <input type="email" class="form-control" placeholder="example@gmail.com" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control" id="password" placeholder="Enter password">
                                        <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password"></a>
                                    </div>
                                </div>
                                <div class="form-group d-flex flex-wrap justify-content-between">
                                    <label for="terms-check" class="gr-check-input d-flex  mr-3">
                                        <input class="d-none" type="checkbox" id="terms-check">
                                        <span class="checkbox mr-5"></span>
                                        <span class="font-size-3 mb-0 line-height-reset mb-1 d-block">Remember password</span>
                                    </label>
                                    <a href="#" class="font-size-3 text-dodger line-height-reset">Forget Password</a>
                                </div>
                                <div class="form-group mb-8">
                                    <button class="btn btn-primary btn-medium w-100 rounded-5 text-uppercase">Log in </button>
                                </div>
                                <p class="font-size-4 text-center heading-default-color">Don’t have an account? <a href="#" class="text-primary">Create a free account</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign Up Modal -->
    <div class="modal fade form-modal" id="signup" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog max-width-px-840 position-relative">
            <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-n6 mr-lg-n6 focus-reset shadow-10" data-dismiss="modal"><i class="fas fa-times"></i></button>
            <div class="login-modal-main bg-white rounded-8 overflow-hidden">
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-6">
                        <div class="pt-10 pb-6 pl-11 pr-12 bg-black-2 h-100 d-flex flex-column dark-mode-texts">
                            <div class="pb-9">
                                <h3 class="font-size-8 text-white line-height-reset pb-4 line-height-1p4">
                                    Create a free account today
                                </h3>
                                <p class="mb-0 font-size-4 text-white">Create your account to continue
                                    and explore new jobs.</p>
                            </div>
                            <div class="border-top border-default-color-2 mt-auto">
                                <div class="d-flex mx-n9 pt-6 flex-xs-row flex-column">
                                    <div class="pt-5 px-9">
                                        <h3 class="font-size-7 text-white">
                                            295
                                        </h3>
                                        <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New jobs
                                            posted today</p>
                                    </div>
                                    <div class="pt-5 px-9">
                                        <h3 class="font-size-7 text-white">
                                            14
                                        </h3>
                                        <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New companies
                                            registered</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="bg-white-2 h-100 px-11 pt-11 pb-7">
                            <div class="row">
                                <div class="col-4 col-xs-12">
                                    <a href="#" class="font-size-4 font-weight-semibold position-relative text-white bg-allports h-px-48 flex-all-center w-100 px-6 rounded-5 mb-4"><i class="fab fa-linkedin pos-xs-abs-cl font-size-7 ml-xs-4"></i> <span class="d-none d-xs-block">Import from LinkedIn</span></a>
                                </div>
                                <div class="col-4 col-xs-12">
                                    <a href="#" class="font-size-4 font-weight-semibold position-relative text-white bg-poppy h-px-48 flex-all-center w-100 px-6 rounded-5 mb-4"><i class="fab fa-google pos-xs-abs-cl font-size-7 ml-xs-4"></i> <span class="d-none d-xs-block">Import from Google</span></a>
                                </div>
                                <div class="col-4 col-xs-12">
                                    <a href="#" class="font-size-4 font-weight-semibold position-relative text-white bg-marino h-px-48 flex-all-center w-100 px-6 rounded-5 mb-4"><i class="fab fa-facebook-square pos-xs-abs-cl font-size-7 ml-xs-4"></i> <span class="d-none d-xs-block">Import from Facebook</span></a>
                                </div>
                            </div>
                            <div class="or-devider">
                                <span class="font-size-3 line-height-reset">Or</span>
                            </div>
                            <form action="https://uxtheme.net/">
                                <div class="form-group">
                                    <label for="email2" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">E-mail</label>
                                    <input type="email" class="form-control" placeholder="example@gmail.com" id="email2">
                                </div>
                                <div class="form-group">
                                    <label for="password2" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control" id="password2" placeholder="Enter password">
                                        <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password2"></a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password23" class="font-size-4 text-black-2 font-weight-semibold line-height-reset">Confirm Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control" id="password23" placeholder="Enter password">
                                        <a href="#" class="show-password pos-abs-cr fas mr-6 text-black-2" data-show-pass="password23"></a>
                                    </div>
                                </div>
                                <div class="form-group d-flex flex-wrap justify-content-between mb-1">
                                    <label for="terms-check2" class="gr-check-input d-flex  mr-3">
                                        <input class="d-none" type="checkbox" id="terms-check2">
                                        <span class="checkbox mr-5"></span>
                                        <span class="font-size-3 mb-0 line-height-reset d-block">Agree to the <a href="#" class="text-primary">Terms & Conditions</a></span>
                                    </label>
                                    <a href="#" class="font-size-3 text-dodger line-height-reset">Forget Password</a>
                                </div>
                                <div class="form-group mb-8">
                                    <button class="btn btn-primary btn-medium w-100 rounded-5 text-uppercase">Sign Up </button>
                                </div>
                                <p class="font-size-4 text-center heading-default-color">Don’t have an account? <a href="#" class="text-primary">Create a free account</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Start -->
    <div class="bg-default-2 pt-22 pt-lg-25 pb-13 pb-xxl-32">
        <div class="container">
            <!-- back Button -->
            <div class="row justify-content-center">
                <div class="col-12 dark-mode-texts">
                    <div class="mb-9">
                        <a class="d-flex align-items-center ml-4" href="dashboard-main.html"> <i
                                    class="icon icon-small-left bg-white circle-40 mr-5 font-size-7 text-black font-weight-bold shadow-8">
                            </i><span class="text-uppercase font-size-3 font-weight-bold text-gray">Back</span></a>
                    </div>
                </div>
            </div>
            <!-- back Button End -->
            <div class="row">
                <!-- Left Sidebar Start -->
                <div class="col-12 col-xxl-3 col-lg-4 col-md-5 mb-11 mb-lg-0">
                    <div class="pl-lg-5">
                        <!-- Top Start -->
                        <div class="bg-white shadow-9 rounded-4">
                            <div class="px-5 py-11 text-center border-bottom border-mercury">
                                <a class="mb-4" href="#"><img class="circle-54" src="image/l3/png/pro-img.png" alt=""></a>
                                <h4 class="mb-0"><a class="text-black-2 font-size-6 font-weight-semibold" href="#">David Henricks</a></h4>
                                <p class="mb-8"><a class="text-gray font-size-4" href="#">Product Designer</a></p>
                                <div class="icon-link d-flex align-items-center justify-content-center flex-wrap">
                                    <a class="text-smoke circle-32 bg-concrete mr-5 hover-bg-green" href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="text-smoke circle-32 bg-concrete mr-5 hover-bg-green" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="text-smoke circle-32 bg-concrete mr-5 hover-bg-green" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="text-smoke circle-32 bg-concrete mr-5 hover-bg-green" href="#"><i class="fab fa-dribbble"></i></a>
                                    <a class="text-smoke circle-32 bg-concrete mr-5 hover-bg-green" href="#"><i class="fab fa-behance"></i></a>
                                </div>
                            </div>
                            <!-- Top End -->
                            <!-- Bottom Start -->
                            <div class="px-9 pt-lg-5 pt-9 pt-xl-9 pb-5">
                                <h5 class="text-black-2 mb-8 font-size-5">Contact Info</h5>
                                <!-- Single List -->
                                <div class="mb-7">
                                    <p class="font-size-4 mb-0">Location</p>
                                    <h5 class="font-size-4 font-weight-semibold mb-0 text-black-2 text-break">New York , USA</h5>
                                </div>
                                <!-- Single List -->
                                <!-- Single List -->
                                <div class="mb-7">
                                    <p class="font-size-4 mb-0">E-mail</p>
                                    <h5 class="font-size-4 font-weight-semibold mb-0"><a class="text-black-2 text-break" href="mailto:name_ac@gmail.com">name_ac@gmail.com</a></h5>
                                </div>
                                <!-- Single List -->
                                <!-- Single List -->
                                <div class="mb-7">
                                    <p class="font-size-4 mb-0">Phone</p>
                                    <h5 class="font-size-4 font-weight-semibold mb-0"><a class="text-black-2 text-break" href="tel:+999565562">+999 565 562</a></h5>
                                </div>
                                <!-- Single List -->
                                <!-- Single List -->
                                <div class="mb-7">
                                    <p class="font-size-4 mb-0">Website Linked</p>
                                    <h5 class="font-size-4 font-weight-semibold mb-0"><a class="text-break" href="#">www.nameac.com</a></h5>
                                </div>
                                <!-- Single List -->
                            </div>
                            <!-- Bottom End -->
                        </div>
                    </div>
                </div>
                <!-- Left Sidebar End -->
                <!-- Middle Content -->
                <div class="col-12 col-xxl-6 col-lg-8 col-md-7 order-2 order-xl-1">
                    <div class="bg-white rounded-4 shadow-9">
                        <!-- Tab Section Start -->
                        <ul class="nav border-bottom border-mercury pl-12" id="myTab" role="tablist">
                            <li class="tab-menu-items nav-item pr-12">
                                <a class="active text-uppercase font-size-3 font-weight-bold text-default-color py-3" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Overview</a>
                            </li>
                            <li class="tab-menu-items nav-item pr-12">
                                <a class="text-uppercase font-size-3 font-weight-bold text-default-color py-3" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Contact</a>
                            </li>
                        </ul>
                        <!-- Tab Content -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <!-- Excerpt Start -->
                                <div class="pr-xl-0 pr-xxl-14 p-5 px-xs-12 pt-7 pb-5">
                                    <h4 class="font-size-6 mb-7 mt-5 text-black-2 font-weight-semibold">About</h4>
                                    <p class="font-size-4 mb-8">A talented professional with an academic background in IT and proven
                                        commercial development experience as C++ developer since 1999. Has a sound knowledge of the software
                                        development life cycle. Was involved in more than 140 software development outsourcing projects.</p>
                                    <p class="font-size-4 mb-8">Programming Languages: C/C++, .NET C++, Python, Bash, Shell, PERL, Regular
                                        expressions, Python, Active-script.</p>
                                </div>
                                <!-- Excerpt End -->
                                <!-- Skills -->
                                <div class="border-top pr-xl-0 pr-xxl-14 p-5 pl-xs-12 pt-7 pb-5">
                                    <h4 class="font-size-6 mb-7 mt-5 text-black-2 font-weight-semibold">Skills</h4>
                                    <ul class="list-unstyled d-flex align-items-center flex-wrap">
                                        <li>
                                            <a class="bg-polar text-black-2  mr-6 px-7 mt-2 mb-2 font-size-3 rounded-3 min-height-32 d-flex align-items-center" href="#">Agile</a>
                                        </li>
                                        <li>
                                            <a class="bg-polar text-black-2  mr-6 px-7 mt-2 mb-2 font-size-3 rounded-3 min-height-32 d-flex align-items-center" href="#">Wireframing</a>
                                        </li>
                                        <li>
                                            <a class="bg-polar text-black-2  mr-6 px-7 mt-2 mb-2 font-size-3 rounded-3 min-height-32 d-flex align-items-center" href="#">Prototyping</a>
                                        </li>
                                        <li>
                                            <a class="bg-polar text-black-2  mr-6 px-7 mt-2 mb-2 font-size-3 rounded-3 min-height-32 d-flex align-items-center" href="#">Information</a>
                                        </li>
                                        <li>
                                            <a class="bg-polar text-black-2  mr-6 px-7 mt-2 mb-2 font-size-3 rounded-3 min-height-32 d-flex align-items-center" href="#">Waterfall Model</a>
                                        </li>
                                        <li>
                                            <a class="bg-polar text-black-2  mr-6 px-7 mt-2 mb-2 font-size-3 rounded-3 min-height-32 d-flex align-items-center" href="#">New Layout</a>
                                        </li>
                                        <li>
                                            <a class="bg-polar text-black-2  mr-6 px-7 mt-2 mb-2 font-size-3 rounded-3 min-height-32 d-flex align-items-center" href="#">Browsing</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Skills End -->
                                <!-- Card Section Start -->
                                <div class="border-top p-5 pl-xs-12 pt-7 pb-5">
                                    <h4 class="font-size-6 mb-7 mt-5 text-black-2 font-weight-semibold">Work Exprerience</h4>
                                    <!-- Single Card -->
                                    <div class="w-100">
                                        <div class="d-flex align-items-center pr-11 mb-9 flex-wrap flex-sm-nowrap">
                                            <div class="square-72 d-block mr-8 mb-7 mb-sm-0">
                                                <img src="image/l2/png/featured-job-logo-1.png" alt="">
                                            </div>
                                            <div class="w-100 mt-n2">
                                                <h3 class="mb-0">
                                                    <a class="font-size-6 text-black-2 font-weight-semibold" href="#">Lead Product Designer</a>
                                                </h3>
                                                <a href="#" class="font-size-4 text-default-color line-height-2">Airabnb</a>
                                                <div class="d-flex align-items-center justify-content-md-between flex-wrap">
                                                    <a href="#" class="font-size-4 text-gray mr-5">Jun 2017 - April 2020- 3 years</a>
                                                    <a href="#" class="font-size-3 text-gray">
                                                        <span class="mr-4" style="margin-top: -2px"><img src="image/svg/icon-loaction-pin-black.svg" alt=""></span>New York, USA</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Card End -->
                                    <!-- Single Card -->
                                    <div class="w-100">
                                        <div class="d-flex align-items-center pr-11 mb-9 flex-wrap flex-sm-nowrap">
                                            <div class="square-72 d-block mr-8 mb-7 mb-sm-0">
                                                <img src="image/l1/png/feature-brand-1.png" alt="">
                                            </div>
                                            <div class="w-100 mt-n2">
                                                <h3 class="mb-0">
                                                    <a class="font-size-6 text-black-2 font-weight-semibold" href="#">Senior UI/UX Designer</a>
                                                </h3>
                                                <a href="#" class="font-size-4 text-default-color line-height-2">Google Inc</a>
                                                <div class="d-flex align-items-center justify-content-md-between flex-wrap">
                                                    <a href="#" class="font-size-3 text-gray mr-5">Jun 2017 - April 2020- 3 years</a>
                                                    <a href="#" class="font-size-3 text-gray">
                                                        <span class="mr-4" style="margin-top: -2px"><img src="image/svg/icon-loaction-pin-black.svg" alt=""></span>New York, USA</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Card End -->
                                </div>
                                <!-- Card Section End -->
                                <!-- Card Section Start -->
                                <div class="border-top p-5 pl-xs-12 pt-7 pb-5">
                                    <h4 class="font-size-6 mb-7 mt-5 text-black-2 font-weight-semibold">Education</h4>
                                    <!-- Single Card -->
                                    <div class="w-100">
                                        <div class="d-flex align-items-center pr-11 mb-9 flex-wrap flex-sm-nowrap">
                                            <div class="square-72 d-block mr-8 mb-7 mb-sm-0">
                                                <img src="image/svg/harvard.svg" alt="">
                                            </div>
                                            <div class="w-100 mt-n2">
                                                <h3 class="mb-0">
                                                    <a class="font-size-6 text-black-2" href="#">Masters in Art Design</a>
                                                </h3>
                                                <a href="#" class="font-size-4 text-default-color line-height-2">Harvard University</a>
                                                <div class="d-flex align-items-center justify-content-md-between flex-wrap">
                                                    <a href="#" class="font-size-3 text-gray mr-5">Jun 2017 - April 2020- 3 years</a>
                                                    <a href="#" class="font-size-3 text-gray">
                                                        <span class="mr-4" style="margin-top: -2px"><img src="image/svg/icon-loaction-pin-black.svg" alt=""></span>Brylin, USA</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Card End -->
                                    <!-- Single Card -->
                                    <div class="w-100">
                                        <div class="d-flex align-items-center pr-11 mb-9 flex-wrap flex-sm-nowrap">
                                            <div class="square-72 d-block mr-8 mb-7 mb-sm-0">
                                                <img src="image/svg/mit.svg" alt="">
                                            </div>
                                            <div class="w-100 mt-n2">
                                                <h3 class="mb-0">
                                                    <a class="font-size-6 text-black-2" href="#">Bachelor in Software Engineering </a>
                                                </h3>
                                                <a href="#" class="font-size-4 text-default-color line-height-2">Manipal Institute of Technology</a>
                                                <div class="d-flex align-items-center justify-content-md-between flex-wrap">
                                                    <a href="#" class="font-size-3 text-gray mr-5">Fed 2012 - April 2016 - 4 years</a>
                                                    <a href="#" class="font-size-3 text-gray">
                                                        <span class="mr-4" style="margin-top: -2px"><img src="image/svg/icon-loaction-pin-black.svg" alt=""></span>New York, USA</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Card End -->
                                </div>
                                <!-- Card Section End -->
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <!-- Excerpt Start -->
                                <div class="pr-xl-11 p-5 pl-xs-12 pt-9 pb-11">
                                    <form action="https://uxtheme.net/">
                                        <div class="row">
                                            <div class="col-12 mb-7">
                                                <label for="name3" class="font-size-4 font-weight-semibold text-black-2 mb-5 line-height-reset">Your Name</label>
                                                <input id="name3" type="text" class="form-control" placeholder="Jhon Doe">
                                            </div>
                                            <div class="col-lg-6 mb-7">
                                                <label for="email3" class="font-size-4 font-weight-semibold text-black-2 mb-5 line-height-reset">E-mail</label>
                                                <input id="email3" type="email" class="form-control" placeholder="example@gmail.com">
                                            </div>
                                            <div class="col-lg-6 mb-7">
                                                <label for="subject3" class="font-size-4 font-weight-semibold text-black-2 mb-5 line-height-reset">Subject</label>
                                                <input id="subject3" type="text" class="form-control" placeholder="Special contract">
                                            </div>
                                            <div class="col-lg-12 mb-7">
                                                <label for="message3" class="font-size-4 font-weight-semibold text-black-2 mb-5 line-height-reset">Message</label>
                                                <textarea name="message" id="message3" placeholder="Type your message" class="form-control h-px-144"></textarea>
                                            </div>
                                            <div class="col-lg-12 pt-4">
                                                <button class="btn btn-primary text-uppercase w-100 h-px-48">Send Now</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- Excerpt End -->
                            </div>
                        </div>
                        <!-- Tab Content End -->
                        <!-- Tab Section End -->
                    </div>
                </div>
                <!-- Middle Content -->
                <!-- Right Sidebar Start -->
                <div class="col-12 col-xxl-3 col-md-4 offset-xxl-0 offset-lg-4 offset-md-5 order-3 order-xl-2 mt-xxl-0 mt-md-12">
                    <div class="pl-lg-5">
                        <h4 class="font-size-6 font-weight-semibold mb-0">Other experts</h4>
                        <ul class="list-unstyled">
                            <!-- Single List -->
                            <li class="border-bottom">
                                <a class="media align-items-center py-9 flex-wrap" href="#">
                                    <div class="mr-7">
                                        <img class="square-72 rounded-3" src="image/l3/png/team-member-1.png" alt="">
                                    </div>
                                    <div class="">
                                        <h4 class="mb-0 font-size-5 font-weight-semibold">David Herison</h4>
                                        <p class="mb-0 font-size-3 heading-default-color">UX/UI Designer</p>
                                        <span class="font-size-3 text-smoke"><img class="mr-2" src="image/svg/icon-loaction-pin-black.svg" alt="">New York, USA</span>
                                    </div>
                                </a>
                            </li>
                            <!-- Single List End -->
                            <!-- Single List -->
                            <li class="border-bottom">
                                <a class="media align-items-center py-9 flex-wrap" href="#">
                                    <div class="mr-7">
                                        <img class="square-72 rounded-3" src="image/l3/png/team-member-2.png" alt="">
                                    </div>
                                    <div class="">
                                        <h4 class="mb-0 font-size-5 font-weight-semibold">Mark Zanitos</h4>
                                        <p class="mb-0 font-size-3 heading-default-color">Lead Product Designer</p>
                                        <span class="font-size-3 text-smoke"><img class="mr-2" src="image/svg/icon-loaction-pin-black.svg" alt="">New York, USA</span>
                                    </div>
                                </a>
                            </li>
                            <!-- Single List End -->
                            <!-- Single List -->
                            <li class="border-bottom">
                                <a class="media align-items-center py-9 flex-wrap" href="#">
                                    <div class="mr-7">
                                        <img class="square-72 rounded-3" src="image/l3/png/team-member-3.png" alt="">
                                    </div>
                                    <div class="">
                                        <h4 class="mb-0 font-size-5 font-weight-semibold">Anna Frankin</h4>
                                        <p class="mb-0 font-size-3 heading-default-color">Visual Designer</p>
                                        <span class="font-size-3 text-smoke"><img class="mr-2" src="image/svg/icon-loaction-pin-black.svg" alt="">New York, USA</span>
                                    </div>
                                </a>
                            </li>
                            <!-- Single List End -->
                            <!-- Single List -->
                            <li class="border-bottom">
                                <a class="media align-items-center py-9 flex-wrap" href="#">
                                    <div class="mr-7">
                                        <img class="square-72 rounded-3" src="image/l3/png/team-member-4.png" alt="">
                                    </div>
                                    <div class="">
                                        <h4 class="mb-0 font-size-5 font-weight-semibold">Jhony Vino</h4>
                                        <p class="mb-0 font-size-3 heading-default-color">Creative Director</p>
                                        <span class="font-size-3 text-smoke"><img class="mr-2" src="image/svg/icon-loaction-pin-black.svg" alt="">New York, USA</span>
                                    </div>
                                </a>
                            </li>
                            <!-- Single List End -->
                            <!-- Single List -->
                            <li class="">
                                <a class="media align-items-center py-9 flex-wrap" href="#">
                                    <div class="mr-7">
                                        <img class="square-72 rounded-3" src="image/l3/png/team-member-5.png" alt="">
                                    </div>
                                    <div class="">
                                        <h4 class="mb-0 font-size-5 font-weight-semibold">Aniasta Hemberg</h4>
                                        <p class="mb-0 font-size-3 heading-default-color">Creative Director</p>
                                        <span class="font-size-3 text-smoke"><img class="mr-2" src="image/svg/icon-loaction-pin-black.svg" alt="">New York, USA</span>
                                    </div>
                                </a>
                            </li>
                            <!-- Single List End -->
                        </ul>
                    </div>
                </div>
                <!-- Right Sidebar End -->
            </div>
        </div>
    </div>
    <!-- Main Content end -->
    <!-- footer area function start -->
    <!-- cta section -->
    <footer class="footer bg-ebony-clay dark-mode-texts">
        <div class="container">
            <!-- Cta section -->
            <div class="pt-11 pt-lg-20 pb-13 pb-lg-20 border-bottom border-width-1 border-default-color-2">
                <div class="row justify-content-center ">
                    <div class="col-xl-7 col-lg-12" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                        <!-- cta-content start -->
                        <div class="pb-xl-0 pb-9 text-xl-left text-center">
                            <h2 class="text-white font-size-8 mb-4">Most comprehensive job portal</h2>
                            <p class="text-hit-gray font-size-5 mb-0">We must explain to you how all this mistaken idea of denouncing</p>
                        </div>
                        <!-- cta-content end -->
                    </div>
                    <div class="col-xl-5 col-lg-12" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                        <!-- cta-btns start -->
                        <div class="btns d-flex justify-content-xl-end justify-content-center align-items-xl-center flex-wrap h-100  mx-n4">
                            <a class="btn btn-outline-gallery btn-xl mx-4 mt-6 text-uppercase" href="#" data-toggle="modal" data-target="#login">Log in</a>
                            <a class="btn btn-green btn-h-60 btn-xl mx-4 mt-6 text-uppercase" href="#" data-toggle="modal" data-target="#signup">Register</a>
                        </div>
                        <!-- cta-btns end -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container  pt-12 pt-lg-19 pb-10 pb-lg-19">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-lg-0 mb-9">
                    <!-- footer logo start -->
                    <img src="image/logo-main-white.png" alt="" class="footer-logo mb-14">
                    <!-- footer logo End -->
                    <!-- media start -->
                    <div class="media mb-11">
                        <img src="image/l1/png/message.png" class="align-self-center mr-3" alt="">
                        <div class="media-body pl-5">
                            <p class="mb-0 font-size-4 text-white">Contact us at</p>
                            <a class="mb-0 font-size-4 font-weight-bold" href="mailto:support@uxtheme.net">support@uxtheme.net</a>
                        </div>
                    </div>
                    <!-- media start -->
                    <!-- widget social icon start -->
                    <div class="social-icons">
                        <ul class="pl-0 list-unstyled d-flex align-items-end ">
                            <li class="d-flex flex-column justify-content-center px-3 mr-3 font-size-4 heading-default-color">Follow us on:</li>
                            <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-facebook-f font-size-3 pt-2"></i></a></li>
                            <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-twitter font-size-3 pt-2"></i></a></li>
                            <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-linkedin-in font-size-3 pt-2"></i></a></li>
                        </ul>
                    </div>
                    <!-- widget social icon end -->
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                            <div class="footer-widget widget2 mb-md-0 mb-13">
                                <!-- footer widget title start -->
                                <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Company</p>
                                <!-- footer widget title end -->
                                <!-- widget social menu start -->
                                <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">About us</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Contact us</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Careers</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Press</a></li>
                                </ul>
                                <!-- widget social menu end -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                            <div class="footer-widget widget3 mb-sm-0 mb-13">
                                <!-- footer widget title start -->
                                <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Product</p>
                                <!-- footer widget title end -->
                                <!-- widget social menu start -->
                                <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Features </a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Pricing</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">News</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Help desk</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Support</a></li>
                                </ul>
                                <!-- widget social menu end -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                            <div class="footer-widget widget4 mb-sm-0 mb-13">
                                <!-- footer widget title start -->
                                <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Services</p>
                                <!-- footer widget title end -->
                                <!-- widget social menu start -->
                                <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Digital Marketing</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">SEO for Business</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Avasta Dash</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">UI Design</a></li>
                                </ul>
                                <!-- widget social menu end -->
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                            <div class="footer-widget widget4">
                                <!-- footer widget title start -->
                                <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Legal</p>
                                <!-- footer widget title end -->
                                <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Privacy Policy</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Terms & Conditions</a></li>
                                    <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Return Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area function end -->
</div>
<!-- Vendor Scripts -->
<script src="js/vendor.min.js"></script>
<!-- Plugin's Scripts -->
<script src="plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="plugins/nice-select/jquery.nice-select.min.js"></script>
<script src="plugins/aos/aos.min.js"></script>
<script src="plugins/slick/slick.min.js"></script>
<script src="plugins/counter-up/jquery.counterup.min.js"></script>
<script src="plugins/counter-up/jquery.waypoints.min.js"></script>
<script src="plugins/ui-range-slider/jquery-ui.js"></script>
<!-- Activation Script -->
<!-- <script src="js/drag-n-drop.js"></script> -->
<script src="js/custom.js"></script>
</body>


<!-- Mirrored from uxtheme.net/demos/jobcamp/candidate-profile-main.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Feb 2021 15:47:45 GMT -->
</html>