{% set j = 0 %}
    {% for rank in ranks  %}
        {% set j =j+1 %}
        <div class="row my-3"><div class="col"></div><div class="col text-center rank" >
                <h4 class="text-white"> Rank {{ j }}
                    {% if j is same as (1) %}

                        <i class="fa fa-trophy " style="color: gold"></i>
                    {% elseif j is same as (2) %}
                        <i class="fa fa-trophy " style="color: silver"></i>
                    {% else %}
                        <i class="fa fa-trophy " style="color:#cd7f32"></i>
                    {% endif %} </h4>
                <img src="{{ asset('assets/img/users/'~ rank[0].owner.photo) }}" style="width:50%" class="img-thumbnail  rounded-circle">
                <h1 class="text-white"> {{ rank[0].owner.nom }}</h1>
                <h5 class="text-white"> Numbre of Votes: {{ rank[0].votes.count }}</h5></div>
            <div class="col"></div>

        </div>
        <hr style="border: 1px solid white " class="mx-5">
    {% endfor %}