
{% extends "baseFront.html.twig" %}
 {% block section  %}

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">
                <a href="#">test

                </a>
            </h5>
            <p class="card-text"> lieux </p>
            <div class="text-primary" style="font-size:2rem; font-weight: bold;">
                renumeration  €
            </div>
        </div>
    </div>

     <div class="col-lg-4 col-md-6 portfolio-item filter-test">
         <div class="portfolio-wrap">

             <div class="portfolio-info">
                 <h4><a href="descriptionConcours.html.twig">nom  </a></h4>
                 <p>test</p>
             </div>

         </div>
     </div>

 {% endblock %}
