{% extends "baseFront.html.twig" %}
{% block section %}
<!-- Main Content Start -->
<div class="bg-default-1 pt-26 pt-lg-28 pb-13 pb-lg-25">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-xs-8">
                <!-- Sidebar Start -->
                <div class="widgets mb-11">
                    <h4 class="font-size-6 font-weight-semibold mb-6">Job Type</h4>
                    <ul class="list-unstyled filter-check-list">
                        <li class="mb-2"><a href="#" class="toggle-item">Full Time</a></li>
                        <li class="mb-2"><a href="#" class="toggle-item">Part Time</a></li>
                        <li class="mb-2"><a href="#" class="toggle-item">Contract</a></li>
                        <li class="mb-2"><a href="#" class="toggle-item">Internship</a></li>
                        <li class="mb-2"><a href="#" class="toggle-item">Temporary</a></li>
                    </ul>
                </div>
                <div class="widgets mb-11 ">
                    <div class="d-flex align-items-center pr-15 pr-xs-0 pr-md-0 pr-xl-22">
                        <h4 class="font-size-6 font-weight-semibold mb-6 w-75">Salary Range</h4>
                        <!-- Range Slider -->
                        <div class="slider-price w-25 text-right mr-7">
                            <p class="font-weight-bold">
                                <input class="text-primary font-weight-semibold font-size-4 focus-reset" type="text" id="amount" readonly="">
                            </p>
                        </div>
                    </div>
                    <div class="graph text-center mx-0 mt-5 position-relative chart-postion">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="range-slider">
                        <div class="pm-range-slider"></div>
                    </div>
                </div>
                <div class="widgets mb-11">
                    <h4 class="font-size-6 font-weight-semibold mb-6">Experience Level </h4>
                    <ul class="list-unstyled filter-check-list">
                        <li class="mb-2"><a href="#" class="toggle-item">All</a></li>
                        <li class="mb-2"><a href="#" class="toggle-item">Senior</a></li>
                        <li class="mb-2"><a href="#" class="toggle-item">Mid</a></li>
                        <li class="mb-2"><a href="#" class="toggle-item">Junior</a></li>
                    </ul>
                </div>
                <div class="widgets mb-11">
                    <h4 class="font-size-6 font-weight-semibold mb-6">Posted Time</h4>
                    <ul class="list-unstyled filter-check-list">
                        <li class="mb-2"><a href="#" class="toggle-item">Anytime</a></li>
                        <li class="mb-2"><a href="#" class="toggle-item">Last day</a></li>
                        <li class="mb-2"><a href="#" class="toggle-item">Last 3 days</a></li>
                        <li class="mb-2"><a href="#" class="toggle-item">Last week</a></li>
                    </ul>
                </div>
                <!-- Sidebar End -->
            </div>
            <div class="col-12 col-md-8 col-xs-12 ">
                <!-- form -->
                <form action="https://uxtheme.net/" class="search-form search-2-adjustment ml-lg-0 ml-md-15">
                    <div class="filter-search-form-2 bg-white rounded-sm shadow-7 pr-6 py-6 pl-6">
                        <div class="filter-inputs">
                            <div class="form-group position-relative w-lg-45 w-xl-40 w-xxl-45">
                                <input class="form-control focus-reset pl-13" type="text" id="keyword" placeholder="search">
                                <span class="h-100 w-px-50 pos-abs-tl d-flex align-items-center justify-content-center font-size-6">
                    <i class="icon icon-zoom-2 text-primary font-weight-bold"></i>
                  </span>
                            </div>
                        </div>
                        <div class="button-block">
                            <button class="btn btn-primary line-height-reset h-100 btn-submit w-100 text-uppercase">Search</button>
                        </div>
                    </div>
                </form>
                <div class="pt-12 ml-lg-0 ml-md-15">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="font-size-4 font-weight-normal text-default-color">
                            <span class="heading-default-color"></span>
                            <span class="heading-default-color">Topics</span>
                        </h5>
                        <div class="d-flex align-items-center result-view-type">
                            <a class="heading-default-color pl-5 font-size-6 hover-text-hitgray" href="{{ path('topic') }}">
                                <i class="fa fa-list-ul"></i>
                            </a>
                            <a class="heading-default-color pl-5 font-size-6 hover-text-hitgray active" href="search-grid.html">
                                <i class="fa fa-th-large"></i>
                            </a>
                        </div>
                    </div>
                    <div class="pt-6">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-6">
                                <!-- Start Feature One -->


                                <div class="bg-white px-8 pt-9 pb-7 rounded-4 mb-9 feature-cardOne-adjustments">
                                    {% for topic in topics %}
                                    <div class="d-block mb-7">
                                        <a href="#"><img src="image/l1/png/feature-brand-1.png" alt=""></a>
                                    </div>
                                    <a href="#" class="font-size-3 d-block mb-0 text-gray">Google INC</a>
                                    <h2 class="mt-n4"><a class="font-size-7 text-black-2 font-weight-bold mb-4" href="#">{{ topic.titre }}</a></h2>
                                    <ul class="list-unstyled mb-1 card-tag-list">
                                        <li><a href="#" class="bg-regent-opacity-15 text-denim font-size-3 rounded-3">
                                                <i class="icon icon-pin-3 mr-2 font-weight-bold"></i> Berlyn
                                            </a></li>
                                        <li><a href="#" class="bg-regent-opacity-15 text-orange font-size-3 rounded-3">
                                                <i class="fa fa-briefcase mr-2 font-weight-bold"></i> Full-time
                                            </a></li>
                                        <li><a href="#" class="bg-regent-opacity-15 text-eastern font-size-3 rounded-3">
                                                <i class="fa fa-dollar-sign mr-2 font-weight-bold"></i> 80K-90K
                                            </a></li>
                                    </ul>
                                    <p class="mb-7 font-size-4 text-gray">We are looking for Enrollment Advisors who are looking to take 30-35 appointments per week. All leads are pre-scheduled.</p>
                                    <div class="card-btn-group">
                                        <a class="btn btn-green text-uppercase btn-medium rounded-3" href="#">Apply Now</a>
                                        <a class="btn btn-outline-mercury text-black-2 text-uppercase btn-medium rounded-3" href="#"><i
                                                    class="icon icon-bookmark-2 font-weight-bold mr-4 font-size-4"></i> Save it</a>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- End Feature One -->
                            </div>




                        </div>
                    </div>
                    <div class="text-center pt-5 pt-lg-13">
                        <a class="text-green font-weight-bold text-uppercase font-size-3 d-flex align-items-center justify-content-center" href="#">Load More <i class="fas fa-sort-down ml-3 mt-n2 font-size-4"></i>
                        </a>
                    </div>
                </div>
                <!-- form end -->
            </div>
        </div>
    </div>
</div>
<!-- Main Content end -->
<!-- footer area function start -->
<!-- cta section -->
<footer class="footer bg-ebony-clay dark-mode-texts">
    <div class="container">
        <!-- Cta section -->
        <div class="pt-11 pt-lg-20 pb-13 pb-lg-20 border-bottom border-width-1 border-default-color-2">
            <div class="row justify-content-center ">
                <div class="col-xl-7 col-lg-12" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                    <!-- cta-content start -->
                    <div class="pb-xl-0 pb-9 text-xl-left text-center">
                        <h2 class="text-white font-size-8 mb-4">Most comprehensive job portal</h2>
                        <p class="text-hit-gray font-size-5 mb-0">We must explain to you how all this mistaken idea of denouncing</p>
                    </div>
                    <!-- cta-content end -->
                </div>
                <div class="col-xl-5 col-lg-12" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                    <!-- cta-btns start -->
                    <div class="btns d-flex justify-content-xl-end justify-content-center align-items-xl-center flex-wrap h-100  mx-n4">
                        <a class="btn btn-outline-gallery btn-xl mx-4 mt-6 text-uppercase" href="#" data-toggle="modal" data-target="#login">Log in</a>
                        <a class="btn btn-green btn-h-60 btn-xl mx-4 mt-6 text-uppercase" href="#" data-toggle="modal" data-target="#signup">Register</a>
                    </div>
                    <!-- cta-btns end -->
                </div>
            </div>
        </div>
    </div>
    <div class="container  pt-12 pt-lg-19 pb-10 pb-lg-19">
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-lg-0 mb-9">
                <!-- footer logo start -->
                <img src="image/logo-main-white.png" alt="" class="footer-logo mb-14">
                <!-- footer logo End -->
                <!-- media start -->
                <div class="media mb-11">
                    <img src="image/l1/png/message.png" class="align-self-center mr-3" alt="">
                    <div class="media-body pl-5">
                        <p class="mb-0 font-size-4 text-white">Contact us at</p>
                        <a class="mb-0 font-size-4 font-weight-bold" href="mailto:support@uxtheme.net">support@uxtheme.net</a>
                    </div>
                </div>
                <!-- media start -->
                <!-- widget social icon start -->
                <div class="social-icons">
                    <ul class="pl-0 list-unstyled d-flex align-items-end ">
                        <li class="d-flex flex-column justify-content-center px-3 mr-3 font-size-4 heading-default-color">Follow us on:</li>
                        <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-facebook-f font-size-3 pt-2"></i></a></li>
                        <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-twitter font-size-3 pt-2"></i></a></li>
                        <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-linkedin-in font-size-3 pt-2"></i></a></li>
                    </ul>
                </div>
                <!-- widget social icon end -->
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                        <div class="footer-widget widget2 mb-md-0 mb-13">
                            <!-- footer widget title start -->
                            <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Company</p>
                            <!-- footer widget title end -->
                            <!-- widget social menu start -->
                            <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">About us</a></li>
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Contact us</a></li>
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Careers</a></li>
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Press</a></li>
                            </ul>
                            <!-- widget social menu end -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                        <div class="footer-widget widget3 mb-sm-0 mb-13">
                            <!-- footer widget title start -->
                            <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Product</p>
                            <!-- footer widget title end -->
                            <!-- widget social menu start -->
                            <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Features </a></li>
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Pricing</a></li>
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">News</a></li>
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Help desk</a></li>
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Support</a></li>
                            </ul>
                            <!-- widget social menu end -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                        <div class="footer-widget widget4 mb-sm-0 mb-13">
                            <!-- footer widget title start -->
                            <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Services</p>
                            <!-- footer widget title end -->
                            <!-- widget social menu start -->
                            <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Digital Marketing</a></li>
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">SEO for Business</a></li>
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Avasta Dash</a></li>
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">UI Design</a></li>
                            </ul>
                            <!-- widget social menu end -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                        <div class="footer-widget widget4">
                            <!-- footer widget title start -->
                            <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Legal</p>
                            <!-- footer widget title end -->
                            <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Privacy Policy</a></li>
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Terms & Conditions</a></li>
                                <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Return Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area function end -->
</div>
{% endblock %}
{% block script %}
<!-- Vendor Scripts -->
<script src="js/vendor.min.js"></script>
<!-- Plugin's Scripts -->
<script src="plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="plugins/nice-select/jquery.nice-select.min.js"></script>
<script src="plugins/aos/aos.min.js"></script>
<script src="plugins/slick/slick.min.js"></script>
<script src="plugins/counter-up/jquery.counterup.min.js"></script>
<script src="plugins/counter-up/jquery.waypoints.min.js"></script>
<script src="plugins/ui-range-slider/jquery-ui.js"></script>
<!-- Activation Script -->
<!-- <script src="js/drag-n-drop.js"></script> -->
<script src="js/custom.js"></script>
</body>


<!-- Mirrored from uxtheme.net/demos/jobcamp/search-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Feb 2021 15:47:30 GMT -->
</html>
{% endblock %}